<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>

{% block body %}

    {% if app.user %}
        <div style="font-weight: bold; margin-bottom: 20px;"> Welcome, {{ app.user.username|default('') }}</div>
    {% endif %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}{% endblock %}

</body>
</html>
