{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/register.css') }}" rel="stylesheet"/>
{% endblock %}


{% block body %}
    <div id="header_menu">
        <a href="{{ path('register') }}">Update Profile</a>
        | <a href="{{ path('changePassword') }}">Change Password</a>
        | <a href="{{ path('logout') }}">Logout</a>
    </div>


    <table>
        <tr>
        <th>Login</th>
        <th>Logout</th>
        </tr>
        <tr>
            <th>Login Date</th>
            <th>Logout Date</th>
        </tr>

    </table>

{% endblock %}